.log-container{
    position: relative;
    display: block;
    top: 200px;
    left: 100px;
    height: 500px;
    width: 1000px;
    background: radial-gradient(circle, ghostwhite 0%, cadetblue 100%);
    border-radius: 10px;

    box-shadow: 10px 5px #216876;
}
.log-container-bar{
    position: relative;
    height: 50px;
    width: 100%;
    background: radial-gradient(circle, ghostwhite 0%, cadetblue 100%);
    border-radius: 10px;
}
.log-container-window{
    position: relative;
    height: 420px;
    width: 980px;
    top: 10px;
    left: 10px;
    background: radial-gradient(circle, white 0%, ghostwhite 100%);
    border-radius: 10px;
}
.config-container{
    position: absolute;
    display: flex;
    top: 20px;
    left: 50px;
    height: 160px;
    width: 1000px;
}
.config-column{
    position: relative;
    display: block;
    height: 100%;
    width: 50%;
    background: white;
}
.config{
    display: flex;
    position: relative;
    height: 26px;
    width: 100%;
}

