
.sys-outer {
    position: relative;
    margin: 100px;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    background: radial-gradient(circle, ghostwhite 0%, cadetblue 100%);
    border-radius: 10px;

    box-shadow: 10px 5px #216876;
}

.sys-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    display: flex;

    background: radial-gradient(circle, ghostwhite 0%, cadetblue 100%);
    border-radius: 10px;
}

.sys-column {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #999;

    background: radial-gradient(circle, ghostwhite 0%, white 100%);
    border-radius: 10px;
}